#MarkTab SPAN {
    /*  75024 / 425198 =  17.6% */
    /* * 9in: 1.588004in */
    top: -1.125000in;
    height: 1.713004in;
}
#Mark .c1 { top: -1.000000in }
#Mark .c2 { top: -0.901540in }
#Mark .c3 { top: -0.803081in }
#Mark .c4 { top: -0.704621in }
#Mark .c5 { top: -0.606162in }
#Mark .c6 { top: -0.507702in }
#Mark .c7 { top: -0.409243in }
#Mark .c8 { top: -0.310783in }
#Mark .c9 { top: -0.212324in }
#Mark .c10 { top: -0.113864in }
#Mark .c11 { top: -0.015405in }
#Mark .c12 { top: 0.083055in }
#Mark .c13 { top: 0.181514in }
#Mark .c14 { top: 0.279974in }
#Mark .c15 { top: 0.378433in }
#Mark .c16 { top: 0.476893in }

#MatthewTab SPAN {
    /* 122125 / 425198 =  28.7% */
    /* * 9in: 2.584972in */
    top: 0.588004in;
    height: 2.584972in;
}
#Matthew .c1 { top: 0.588004in }
#Matthew .c2 { top: 0.679628in }
#Matthew .c3 { top: 0.771253in }
#Matthew .c4 { top: 0.862877in }
#Matthew .c5 { top: 0.954502in }
#Matthew .c6 { top: 1.046126in }
#Matthew .c7 { top: 1.137751in }
#Matthew .c8 { top: 1.229375in }
#Matthew .c9 { top: 1.321000in }
#Matthew .c10 { top: 1.412624in }
#Matthew .c11 { top: 1.504249in }
#Matthew .c12 { top: 1.595873in }
#Matthew .c13 { top: 1.687498in }
#Matthew .c14 { top: 1.779122in }
#Matthew .c15 { top: 1.870746in }
#Matthew .c16 { top: 1.962371in }
#Matthew .c17 { top: 2.053995in }
#Matthew .c18 { top: 2.145620in }
#Matthew .c19 { top: 2.237244in }
#Matthew .c20 { top: 2.328869in }
#Matthew .c21 { top: 2.420493in }
#Matthew .c22 { top: 2.512118in }
#Matthew .c23 { top: 2.603742in }
#Matthew .c24 { top: 2.695367in }
#Matthew .c25 { top: 2.786991in }
#Matthew .c26 { top: 2.878616in }
#Matthew .c27 { top: 2.970240in }
#Matthew .c28 { top: 3.061865in }

#LukeTab SPAN {
    /* 129958 / 425198 =  30.6% */
    /* * 9in: 2.750770in */
    top: 3.172976in;
    height: 2.750770in;
}
#Luke .c1 { top: 3.172976in }
#Luke .c2 { top: 3.287744in }
#Luke .c3 { top: 3.402511in }
#Luke .c4 { top: 3.517279in }
#Luke .c5 { top: 3.632047in }
#Luke .c6 { top: 3.746815in }
#Luke .c7 { top: 3.861583in }
#Luke .c8 { top: 3.976350in }
#Luke .c9 { top: 4.091118in }
#Luke .c10 { top: 4.205886in }
#Luke .c11 { top: 4.320654in }
#Luke .c12 { top: 4.435422in }
#Luke .c13 { top: 4.550189in }
#Luke .c14 { top: 4.664957in }
#Luke .c15 { top: 4.779725in }
#Luke .c16 { top: 4.894493in }
#Luke .c17 { top: 5.009260in }
#Luke .c18 { top: 5.124028in }
#Luke .c19 { top: 5.238796in }
#Luke .c20 { top: 5.353564in }
#Luke .c21 { top: 5.468332in }
#Luke .c22 { top: 5.583099in }
#Luke .c23 { top: 5.697867in }
#Luke .c24 { top: 5.812635in }

#JohnTab SPAN {
    /*  98091 / 425198 =  23.1% */
    /* * 9in: 2.076254in */
    top: 5.923746in;
    height: 2.201254in;
}
#John .c1 { top: 5.923746in }
#John .c2 { top: 6.022003in }
#John .c3 { top: 6.120260in }
#John .c4 { top: 6.218518in }
#John .c5 { top: 6.316775in }
#John .c6 { top: 6.415032in }
#John .c7 { top: 6.513289in }
#John .c8 { top: 6.611546in }
#John .c9 { top: 6.709803in }
#John .c10 { top: 6.808060in }
#John .c11 { top: 6.906318in }
#John .c12 { top: 7.004575in }
#John .c13 { top: 7.102832in }
#John .c14 { top: 7.201089in }
#John .c15 { top: 7.299346in }
#John .c16 { top: 7.397603in }
#John .c17 { top: 7.495860in }
#John .c18 { top: 7.594117in }
#John .c19 { top: 7.692375in }
#John .c20 { top: 7.790632in }
#John .c21 { top: 7.888889in }

